# Scrapping Data from http://www.example.com/ Website 
Date: 17/09/2020

# A

In [ ]:
# Import different packages to use
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

urla = "http://www.yaoundezoom.com/web/fr/activite/alpha/A"

npo_jobs = {}
job_no = 0
while True:
    
    response = requests.get(urla)
    data = response.text
    soup = BeautifulSoup(data,'html.parser')
    jobs = soup.find_all('div',{'class':'div_categorielist_detail_btn'})
    for job in jobs:
      links = job.find('a').get('href')
      link = 'http://www.yaoundezoom.com' + links
      job_response = requests.get(link)
      job_data = job_response.text
      job_soup = BeautifulSoup(job_data, 'html.parser')
      activities_loca_tag = job_soup.find('div',{'class':'div_intro_cellule01_text'})
      activities_loca = activities_loca_tag.text if activities_loca_tag else "NA"
      #name_tag = job_soup.find('div',{'class':'div_titre_show_activite'})
      #name = name_tag.text if name_tag else "N/A"
      comp_name = job_soup.find('h1').text
      info_tag = job_soup.find('div',{'class':'div_list_entreprise_zone1-1__activiteshow'})
      info = info_tag.text if info_tag else "NA"
      job_no+=1
      npo_jobs[job_no] = [comp_name, info, activities_loca]
      #print('Comp_Name: ', comp_name, '\nInfo', info, '\nActivities_Loca', activities_loca)
    
    url_tag = soup.find('span',{'class':'next'})
    #url_tag = url_tag.find('a').get('href')
    if url_tag:
        urla= 'http://www.yaoundezoom.com' + url_tag.find('a').get('href')
        print(urla)
        time.sleep(2)
    else:
        break

print("Total Jobs:", job_no)

# Convert the data into a data frame, DataFrame is a data structure in pyton peculair to pandas
npo_jobs_df = pd.DataFrame.from_dict(npo_jobs, orient='index', columns=['Comp_Name','Info', 'Activities'])
npo_jobs_df.head()

# To save in CSV

http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=2
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=3
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=4
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=5
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=6
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=7
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=8
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=9
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=10
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=11
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=12
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=13
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=14
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=15
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=16
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=17
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=18
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=19
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=20
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=21
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=22
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=23
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=24
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=25
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=26
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=27
http://www.yaoundezoom.com/web/fr/activite/alpha/A?page=28
Total Jobs: 697

                  Comp_Name  ...                                         Activities
1   A & T Distribution Sarl  ...  \nSecteur d'activité: Alcools, vins, spiritueu...
2       A A M Communication  ...  \nSecteur d'activité: Mobilier de maison - mob...
3  A B Motors Cameroun Sarl  ...  \nSecteur d'activité: Mobilier de maison - mob...
4           A Corps Parfait  ...  \nSecteur d'activité: Salon de coiffure - esth...
5            A Samy Telecom  ...  \nSecteur d'activité: Télécommunication - télé...

[5 rows x 3 columns]

In [ ]:
npo_jobs_df.to_csv('yaoundezoom_Atest.csv')